node_modules
dist-ssr
/.vite
!dist/.vite/
!dist/.vite/manifest.json
*.local
.env
.env.*
!.env.example
!.env.production
.DS_Store
.tmp*
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/.htaccess